body{
	background-image: url("bgimage.jpg");
	background-repeat: no-repeat;
	background-position: left;
	background-attachment: fixed;
	background-color: black;
	height: 100vh;
 }

#tophalf{
	color: firebrick;
	width: 75%;
	display: flex;
	justify-content: space-around;
}

#shades {
	margin: 0;
	font-size: 10pt;
	font-family: cursive;
	color: white;
	vertical-align: text-top;
	padding-left: 35%;
}

#logo{
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 40pt;
	margin-left: 15px;
}

#bottomhalf{
	color:white;
	display: flex;
	justify-content: space-around;
	margin-top: 25px;
}

#appinfo{
	line-height: 80px;
	color:white;
	padding-top: 20px;
	width: 25%;
}

#video {
	position: relative; 	
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

#botcontainer{
	width: 100%;
	margin-top: 20px;
}

.options, .eachimage {
	cursor: pointer;
}

.aboutmeinfo{
	text-align: center;
	color: white;
	font-size: 22pt;
	margin-top: 5%
}

#headerbot {
	text-align: center;
	margin-top: 20px;
	font-weight: bold;
	font-size: 50pt;
	color: firebrick;
}

#optionsgallery{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	/*width: 50%;*/
}

.eachimage{
	/*border: 2px solid firebrick;*/
	margin: 5%;
	width: 25%;
	height: 25%;
}

