body{
	background-image: url("bgimage.jpg");
	background-repeat: no-repeat;
	background-position: left;
	background-attachment: fixed;
	background-color: black;
	height: 100vh;
 }

 #logos{
 	float: right;
 	margin-right: 100px;
 }

#logos p{
	color: white;
	font-size: 14pt;
	padding-bottom: 20px;
}

#logos img{
	width: 30px;
	height: 30px;
	margin-left: 20px;
}

#tophalf{
	color: firebrick;
	width: 70%;
	justify-content: space-around;
}

#shades{
	font-size: 12pt;
	font-style: italic;
	font-family: cursive;
	color: white;
	vertical-align: text-top;
	padding-left: 35%;
}

#header{
	font-size: 40pt;
	font-style: italic;
	margin-top: 20px;
	margin-bottom: 20px;
}

#bottomhalf{
	color:white;
	justify-content: space-around;
	margin-top: 25px;
}

#appinfo{
	color: white;
	font-size: 14pt;
	margin-top: 20px;
	width: 30%;
}

#midcontainer{
	width: 100%;
	margin-top: 20px;
}

#slideshow{
	position: relative;
	margin-left: 30%;
	margin-top: 5%;
	width: 60%;
}

.eachslide {
	width: 60%;
	height: 500px;
}

#optionsabout{
	width: 80%;
	margin: auto;
}

#optionsabout img{
	width: 40%;
}

#aboutmebox{
	float: right;
	padding: 2px;
	width: 40%;
	height: 100vh;
	background-color: firebrick;
	border-radius: 25px;
	opacity: 0.9;
}

#headermid{
	text-align: center;
	margin-top: 20px;
	font-weight: bold;
	font-size: 50pt;
	color: firebrick;
}

.aboutmeinfo{
	text-align: center;
	color: white;
	font-size: 26pt;
	margin-top: 5%;
	padding-left:20px;
	padding-right: 20px;
}

#gallerybox{
	justify-content: space-around;
	margin: auto;
	flex-wrap: wrap;
}

.eachimage{
	margin: 5%;
	width: 25%;
	height: 25%;
}

table, tr, th, td{
	border: 2px solid white;
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
	color: white;
}

input{
	width: 15%;
	height: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

caption, table{
	margin-bottom: 40px;
}

select{
	margin-right: 15px;
}

.day {
	color: firebrick;
	font-size: 22pt;
}

.eachtd{
	font-size: 30pt;
	font-weight: bold;
	text-align: center;
	padding: 2%;
}

#memo{
	font-size: 16pt;
	float: left;
	color: white;
}

#red{
	color:firebrick;
}

#success{
	font-size: 26pt;
	margin-top: 30px;
	color: firebrick;
}

.options, .eachimage, #title, #shades, .eachtd{
	cursor: pointer;
}

#optionsabout img, .eachslide, .eachimage{
	border: 2px solid white;
}

.day, #headermid{
	font-style: italic;
	opacity: .75;
}

#gallerybox, #bottomhalf, #optionsabout, #tophalf{
	display: flex;
}

select[name="months"], input[name="first"], input[name="last"]{
	background-color: black;
	color: white;
	font-size: 14pt;
}
